@model IEnumerable<StackOverflow.Core.Entities.Resposta>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPublicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pergunta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPublicacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pergunta.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RespostaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RespostaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RespostaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
